<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="tocify-wrapper">
      <svg class="t-logo" viewBox="0 0 483 483" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Traffiqa-logo</title>
          <desc>Traffiqa Logo - Click to navigate to homepage</desc>
          <defs></defs>
          <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="T-logo" fill="#FFFFFF">
                  <path d="M0,135.057395 L0,409.001728 C0,449.872795 33.1301551,483 73.9982725,483 L359.000864,483 L483,483 L483,343.000864 L483,73.9982725 C483,33.1272047 449.869845,0 409.001728,0 L135.057395,0 L135.11479,0.0573952066 L0.0573952066,135.11479 L7.10542736e-15,135.057395 L0,135.057395 Z M332,445 L340.768842,445 L445,445 L445,386.159783 L445,158.504754 C445,127.289456 419.704088,102 388.5,102 C357.289051,102 332,127.29804 332,158.504754 L332,445 L332,445 Z M186,445 L299,445 L299,245.504754 C299,214.289456 273.704088,189 242.5,189 C211.289051,189 186,214.29804 186,245.504754 L186,445 L186,445 Z M39,363.651654 L39,382.798554 C39,417.153944 66.8485362,445 101.201446,445 L152,445 L152,344.504754 C152,313.289456 126.704088,288 95.5,288 C64.2890507,288 39,313.29804 39,344.504754 L39,363.651654 Z" id="Combined-Shape"></path>
              </g>
          </g>
      </svg>
      <svg class="t-logo-text" version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px" viewBox="25 5 70 43" xml:space="preserve">
          <title>Traffiqa Text Logo</title>
          <g id="Symbols">
              <g id="mobile-portrait-top-navbar">
                  <g id="top-navbar">
                      <rect id="navbar" fill="#40006F" width="126" height="54"/>
                  </g>
                  <g id="T-logo-with-text" transform="translate(17.000000, 8.000000)">
                      <g id="T-logo" transform="translate(0.000000, 6.000000)" display="none">
                          <path id="Combined-Shape" display="inline" fill="#FFFFFF" d="M-46,135.058v273.944C-46,449.873-12.87,483,27.998,483h285.003
                              H437V343.001V73.998C437,33.127,403.87,0,363.002,0H89.058l0.057,0.058L-45.942,135.115L-46,135.058L-46,135.058z M286,445
                              h8.769H399v-58.84V158.505C399,127.289,373.704,102,342.5,102c-31.211,0-56.5,25.298-56.5,56.505V445L286,445z M140,445h113
                              V245.505C253,214.289,227.704,189,196.5,189c-31.211,0-56.5,25.298-56.5,56.505V445L140,445z M-7,363.652v19.146
                              C-7,417.154,20.849,445,55.202,445H106V344.505C106,313.289,80.704,288,49.5,288C18.289,288-7,313.298-7,344.505V363.652z"/>
                      </g>
                      <g>
                          <path fill="#FFFFFF" d="M5.93,7.481v2.563h-7.251V29h-2.944V10.045h-7.251V7.481H5.93z"/>
                          <path fill="#FFFFFF" d="M7.233,13.312h2.505v2.71c0.205-0.527,0.708-1.169,1.509-1.926s1.724-1.136,2.769-1.136
                              c0.049,0,0.132,0.005,0.249,0.015s0.317,0.029,0.601,0.059v2.783c-0.156-0.029-0.3-0.049-0.432-0.059s-0.276-0.015-0.432-0.015
                              c-1.328,0-2.349,0.428-3.062,1.282S9.87,18.863,9.87,19.977V29H7.233V13.312z"/>
                          <path fill="#FFFFFF" d="M25.559,19.506c0.605-0.078,1.011-0.332,1.216-0.761c0.117-0.235,0.176-0.573,0.176-1.015
                              c0-0.901-0.319-1.556-0.958-1.963c-0.639-0.407-1.552-0.61-2.741-0.61c-1.374,0-2.349,0.373-2.924,1.119
                              c-0.321,0.412-0.531,1.025-0.628,1.84h-2.461c0.049-1.939,0.675-3.288,1.88-4.047s2.602-1.139,4.192-1.139
                              c1.843,0,3.341,0.352,4.492,1.055c1.141,0.703,1.712,1.797,1.712,3.281v9.039c0,0.273,0.056,0.493,0.168,0.658
                              c0.112,0.166,0.349,0.249,0.71,0.249c0.117,0,0.249-0.008,0.396-0.021c0.146-0.016,0.303-0.037,0.469-0.066v1.948
                              c-0.41,0.117-0.723,0.19-0.938,0.22s-0.508,0.044-0.879,0.044c-0.908,0-1.567-0.322-1.978-0.967
                              c-0.215-0.342-0.366-0.825-0.454-1.45c-0.537,0.703-1.309,1.313-2.314,1.831s-2.114,0.776-3.325,0.776
                              c-1.455,0-2.644-0.441-3.567-1.324s-1.384-1.987-1.384-3.313c0-1.453,0.454-2.58,1.362-3.38s2.1-1.292,3.574-1.478
                              L25.559,19.506z M20.007,26.629c0.557,0.438,1.216,0.657,1.978,0.657c0.928,0,1.826-0.215,2.695-0.644
                              c1.465-0.712,2.197-1.877,2.197-3.495v-2.121c-0.322,0.206-0.736,0.378-1.243,0.515c-0.507,0.138-1.004,0.235-1.491,0.293
                              l-1.593,0.205c-0.955,0.127-1.673,0.327-2.155,0.6c-0.815,0.458-1.223,1.188-1.223,2.192
                              C19.172,25.591,19.45,26.19,20.007,26.629z"/>
                          <path fill="#FFFFFF" d="M35.065,8.521c0.615-0.898,1.802-1.348,3.56-1.348c0.166,0,0.337,0.005,0.513,0.015
                              s0.376,0.024,0.601,0.044v2.402c-0.276-0.02-0.477-0.031-0.6-0.037c-0.124-0.004-0.239-0.007-0.348-0.007
                              c-0.81,0-1.293,0.208-1.452,0.622c-0.158,0.416-0.237,1.473-0.237,3.172h2.637v2.08h-2.637V29h-2.607V15.465h-2.183v-2.08h2.183
                              v-2.461C34.533,9.83,34.724,9.029,35.065,8.521z"/>
                          <path fill="#FFFFFF" d="M42.873,8.521c0.615-0.898,1.802-1.348,3.56-1.348c0.166,0,0.337,0.005,0.513,0.015
                              s0.376,0.024,0.601,0.044v2.402c-0.276-0.02-0.477-0.031-0.6-0.037c-0.124-0.004-0.239-0.007-0.348-0.007
                              c-0.81,0-1.293,0.208-1.452,0.622c-0.158,0.416-0.237,1.473-0.237,3.172h2.637v2.08h-2.637V29h-2.607V15.465h-2.183v-2.08h2.183
                              v-2.461C42.341,9.83,42.531,9.029,42.873,8.521z"/>
                          <path fill="#FFFFFF" d="M49.978,7.481h2.681v2.988h-2.681V7.481z M49.978,13.385h2.681V29h-2.681V13.385z"/>
                          <path fill="#FFFFFF" d="M65.492,13.941c0.487,0.352,0.956,0.869,1.404,1.553v-2.183h2.49v21.943H66.75v-8.057
                              c-0.439,0.703-1.046,1.263-1.821,1.677c-0.775,0.415-1.744,0.623-2.904,0.623c-1.668,0-3.16-0.654-4.477-1.963
                              c-1.316-1.309-1.975-3.301-1.975-5.977c0-2.51,0.617-4.57,1.851-6.182c1.233-1.611,2.831-2.417,4.791-2.417
                              C63.512,12.96,64.604,13.287,65.492,13.941z M58.897,24.781c0.672,1.631,1.876,2.446,3.612,2.446
                              c1.833,0,3.095-0.859,3.788-2.578c0.38-0.947,0.57-2.158,0.57-3.633c0-1.357-0.209-2.49-0.629-3.398
                              c-0.711-1.553-1.964-2.329-3.758-2.329c-1.141,0-2.118,0.496-2.932,1.486c-0.814,0.992-1.221,2.522-1.221,4.593
                              C58.327,22.726,58.517,23.863,58.897,24.781z"/>
                          <path fill="#FFFFFF" d="M81.735,19.506c0.605-0.078,1.011-0.332,1.216-0.761c0.117-0.235,0.176-0.573,0.176-1.015
                              c0-0.901-0.319-1.556-0.958-1.963c-0.639-0.407-1.552-0.61-2.741-0.61c-1.374,0-2.349,0.373-2.924,1.119
                              c-0.321,0.412-0.531,1.025-0.628,1.84h-2.461c0.049-1.939,0.675-3.288,1.88-4.047s2.602-1.139,4.192-1.139
                              c1.843,0,3.341,0.352,4.492,1.055c1.141,0.703,1.712,1.797,1.712,3.281v9.039c0,0.273,0.056,0.493,0.168,0.658
                              c0.112,0.166,0.349,0.249,0.71,0.249c0.117,0,0.249-0.008,0.396-0.021c0.146-0.016,0.303-0.037,0.469-0.066v1.948
                              c-0.41,0.117-0.723,0.19-0.938,0.22s-0.508,0.044-0.879,0.044c-0.908,0-1.567-0.322-1.978-0.967
                              c-0.215-0.342-0.366-0.825-0.454-1.45c-0.537,0.703-1.309,1.313-2.314,1.831s-2.114,0.776-3.325,0.776
                              c-1.455,0-2.644-0.441-3.567-1.324s-1.384-1.987-1.384-3.313c0-1.453,0.454-2.58,1.362-3.38s2.1-1.292,3.574-1.478
                              L81.735,19.506z M76.184,26.629c0.557,0.438,1.216,0.657,1.978,0.657c0.928,0,1.826-0.215,2.695-0.644
                              c1.465-0.712,2.197-1.877,2.197-3.495v-2.121c-0.322,0.206-0.736,0.378-1.243,0.515c-0.507,0.138-1.004,0.235-1.491,0.293
                              l-1.593,0.205c-0.955,0.127-1.673,0.327-2.155,0.6c-0.815,0.458-1.223,1.188-1.223,2.192
                              C75.349,25.591,75.627,26.19,76.184,26.629z"/>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc">
      </div>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= yield %>
        <% current_page.data.includes && current_page.data.includes.each do |include| %>
          <%= partial "includes/#{include}" %>
        <% end %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
